[submodule "vendor/mongoose"]
	path = vendor/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "vendor/json-c"]
	path = vendor/json-c
	url = https://github.com/json-c/json-c.git
[submodule "vendor/sigar"]
	path = vendor/sigar
	url = https://github.com/hyperic/sigar.git
