body {
  color: #222;
  background: #f4f4f4;
}
  body > header {
    margin-top: 20px;
  }

  body > footer{
    padding: 20px;
    color: #999;
  }
    body > footer a{
      color: #999;
    }

h1, h2, h3 {
  margin-top: 0;
}

.box, .mini-boxes .stat-resume {
  background: #FFF;
  border-radius: 5px;
  padding: 20px;
}

.mini-boxes {
  margin-bottom: 20px;
}
  .mini-boxes .stat-resume {
    height: 100px;
  }
    .mini-boxes .stat-resume h4 {
      font-size: 40px;
    }
      .mini-boxes .stat-resume h4 small {
        font-size: 20px;
      }

#main > section {
  margin-bottom: 20px;
}
